
<router-outlet></router-outlet>
<main class="main d-flex justify-content-center align-items-center">
  <div class="content">
    <div class="left-side">
      <hr>
      <h5 class="modal-title">Hello Mon Application de Gestion de tache avec ANGULAR</h5>
      <form (submit)="addTodo($event, input.value)" class="w-50 m-auto">
        <div class="mb-3">
          <label  class="form-label">Tache Titre</label>
          <input type="text" class="form-control"  #input placeholder="Entrer le titre de la tache">
          <div class="form-text">Merci de renvseigner le titre de la tache!</div>
          <button type="submit" class="btn btn-primary ">Valider</button>
        </div>
      </form>
      <hr>
      <h4 class="modal-titre d-flex justify-content-center align-items-center">Liste des taches</h4>
    </div>
  </div>
</main>
<h2 *ngIf="todosListe.length == 0"> La liste des taches est vide ! !</h2>
<table class=" w-50 m-auto table table-dark-gray align-middle p-4 mb-0 table-hover ">
  <thead >
    <tr class="h5">
      <th scope="col" class="text-center border-0 text-primary rounded-start">ID</th>
      <th scope="col" class="text-center border-0 text-primary">CONTENT</th>
      <th scope="col" class="text-center border-0 text-primary">STATUS</th>
      <th scope="col" class="text-center border-0 text-primary">CREATEDAT</th>
      <th scope="col" class="text-center border-0 text-primary">- - - - - -</th>
    </tr>
  </thead>
  <tbody *ngIf="todosListe">
    <tr *ngFor="let t of todosListe" >
      <td class="text-center">{{ t.id }}</td>
      <td class="text-center">{{t.content}}</td>
      <td class="text-center "><input class="form-check-input" role="switch" (change)="toogleDone(t.id)" type="checkbox" [checked]="t.done"></td>
      <td class="text-center">{{ t.createdAt }}</td>
      <td class="text-center"><button (click)="deleteTodo(t.id)" class="btn btn-warning">Supprimer</button></td>
    </tr>
  </tbody>
</table>